In [1]:
#Importing libraries

import pandas as pd
import  matplotlib as plt
import os

In [2]:
#All yearly data combined

dir = "Sales Data/"
files = []

for file in os.listdir(dir):
    df = pd.read_csv(dir + file)
    files.append(df)


year_data = pd.concat(files)
    
year_data.dropna(inplace= True)
year_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
11681,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
11682,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
11683,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
11684,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
11685,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [21]:
#Add Month column to filter data by months
year_data["Order Date"] = pd.to_datetime(year_data["Order Date"], errors="coerce")
year_data["Month"] = year_data["Order Date"].dt.month

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
1563,297150,Lightning Charging Cable,1,14.95,2020-01-01 00:38:00,"427 Wilson St, Dallas, TX 75001",1.0
2265,297817,iPhone,1,700,2020-01-01 00:22:00,"519 13th St, New York City, NY 10001",1.0
2266,297817,Lightning Charging Cable,2,14.95,2020-01-01 00:22:00,"519 13th St, New York City, NY 10001",1.0
2425,297969,Google Phone,1,600,2020-01-01 00:54:00,"542 2nd St, San Francisco, CA 94016",1.0
2806,298344,Wired Headphones,4,11.99,2020-01-01 03:34:00,"731 7th St, New York City, NY 10001",1.0
...,...,...,...,...,...,...,...
9718,150497,20in Monitor,1,109.99,2019-01-26 19:09:00,"95 8th St, Dallas, TX 75001",1.0
9719,150498,27in FHD Monitor,1,149.99,2019-01-10 22:58:00,"403 7th St, San Francisco, CA 94016",1.0
9720,150499,ThinkPad Laptop,1,999.99,2019-01-21 14:31:00,"214 Main St, Portland, OR 97035",1.0
9721,150500,AAA Batteries (4-pack),2,2.99,2019-01-15 14:21:00,"810 2nd St, Los Angeles, CA 90001",1.0
9722,150501,Google Phone,1,600,2019-01-13 16:43:00,"428 Cedar St, Boston, MA 02215",1.0